<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @help.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @help.location %>
</p>

<%= link_to 'Edit', edit_help_path(@help) %> |
<%= link_to 'Back', helps_path %>
